.hidden {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.grid {
  height: 95%;
  width: 100%;
}

.widthalign {
  text-align: left;
}
.clipboards {
  display: flex;
  justify-content: space-evenly;
}
.list {
  list-style-type: none;
  word-wrap: break-word;
 max-width: 100ch;
}
.breaks {
  word-break: break-all;
}
