<app-task-header [taskLength]="this.taskLength"></app-task-header>
<clr-datagrid
  class="datagrid-compact"
  [(clrDgSelected)]="this.TaskDetailsLocalVariable.CheckboxofTaskRow"
  [clrDgLoading]="this.dataloading"
  style="height: 500px"
  HorizontalAlignment="auto"
  VerticalAlignment="auto"
  (clrDgRefresh)="Columnfilters($event)"
  (clrDgSelectedChange)="selectionChanged($event)"
>
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.taskidcolumnWidthValue"
    [clrDgField]="'taskIdFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'taskidcolumnwidth')"
    >Task ID</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.tasknamecolumnWidthValue"
    [clrDgField]="'tasknameFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'tasknamecolumnwidth')"
    >Task Name</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.taskstatecolumnWidthValue"
    [clrDgField]="'statusFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'taskstatecolumnwidth')"
  >
    <clr-dg-filter [clrDgFilter]="statusFilter" [scrollLeft]="true">
      <checkbox-list-filter
        #statusFilter
        [filterParamName]="'statusFragment'"
        [items]="this.JobDetailsLocalVariable.AvailableState"
      ></checkbox-list-filter>
    </clr-dg-filter>
    Task State</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.exitcodecolumnWidthValue"
    [clrDgField]="'exitcodeFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'exitcodecolumnwidth')"
    >Exit Code</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.tasklogcolumnWidthValue"
    (clrDgColumnResize)="TaskColumnResized($event, 'tasklogcolumnwidth')"
    >Log</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.taskstartcolumnWidthValue"
    (clrDgColumnResize)="TaskColumnResized($event, 'taskstarttimecolumnwidth')"
    >Start Time (yy/mm/dd HH:mm)</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.taskendcolumnWidthValue"
    (clrDgColumnResize)="TaskColumnResized($event, 'taskendtimecolumnwidth')"
    >End Time (yy/mm/dd HH:mm)</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.allocatednodescolumnWidthValue"
    [clrDgField]="'allocatedFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'allocatednodecolumnwidth')"
    >Allocated Nodes</clr-dg-column
  >
  <clr-dg-column
    [style.width.px]="TaskDetailsLocalStorage.commandlinecolumnWidthValue"
    [clrDgField]="'commandlineFragment'"
    (clrDgColumnResize)="TaskColumnResized($event, 'commandlinecolumnwidth')"
    >Command Line</clr-dg-column
  >

  <clr-dg-row
    style="word-break: break-all"
    *ngFor="let task of taskLayout"
    [clrDgItem]="task"
  >
    <clr-dg-cell
      ><div class="hidden">
        <span title="{{ task.taskIdFragment }}"
          >{{ task.taskIdFragment }}
        </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell
      ><div class="hidden">
        <span title="{{ task.nameFragment }}">{{ task.nameFragment }} </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell
      [style.color]="
        task.statusFragment == 'Failed'
          ? 'red'
          : task.statusFragment == 'Running'
          ? 'blue'
          : task.statusFragment == 'Finished'
          ? 'green'
          : task.statusFragment == 'Canceled'
          ? 'orange'
          : task.statusFragment == 'Queued'
          ? 'Magenta'
          : 'black'
      "
      [style.width.px]="200"
      style="text-align: left"
    >
      <div class="hidden">
        <span title="{{ task.statusFragment }}"
          >{{ task.statusFragment }}
        </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell>
      <div
        role="tooltip"
        aria-haspopup="true"
        class="tooltip tooltip-lg tooltip-bottom-left"
      >
        {{ task.exidCodeFragment }}
        <span class="tooltip-content" style="width: auto">{{
          task.exidCodeNameFragment
        }}</span>
      </div>
    </clr-dg-cell>

    <!-- <clr-dg-cell>
      <button
        class="btn btn-outline btn-sm"
        (click)="showFileData(task.standardOutput)"
      >
        Link To Standard Output
      </button>
    </clr-dg-cell> -->

    <clr-dg-cell style="text-align: left">
      <div style="display: flex; justify-content: space-evenly">
        <div>
          <div
            role="tooltip"
            aria-haspopup="true"
            class="tooltip tooltip-sm tooltip tooltip-right"
            style="text-align: center"
          >
            <div class="hidden">
              <span title="{{ task.standardOutput }}"> </span>
            </div>

            <span class="tooltip-content">{{ task.standardOutput }} </span>
          </div>
        </div>
        <div>
          <div (click)="showFileData(task.standardOutput)">
            <a
              href="javascript:void(0)"
              role="tooltip"
              aria-haspopup="true"
              class="tooltip tooltip-sm tooltip tooltip-right"
            >
              <clr-icon
                shape="copy-to-clipboard"
                class="is-solid has-badge-info"
                *ngIf="task.standardOutput != undefined"
              ></clr-icon>
              <span class="tooltip-content">{{ task.standardOutput }}</span>
            </a>
          </div>
        </div>
      </div>
    </clr-dg-cell>

    <clr-dg-cell
      ><div class="hidden">
        <span title="{{ task.startTimeFragment | utcToLocalTime : 'short' }}"
          >{{ task.startTimeFragment | utcToLocalTime : "short" }}
        </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell
      ><div class="hidden">
        <span title="{{ task.endTimeFragment | utcToLocalTime : 'short' }}"
          >{{ task.endTimeFragment | utcToLocalTime : "short" }}
        </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell
      ><div class="hidden">
        <span title="{{ task.allocatedNodesFragment }}"
          >{{ task.allocatedNodesFragment }}
        </span>
      </div></clr-dg-cell
    >
    <clr-dg-cell [style.width.px]="200"
      ><div class="hidden">
        <span title="{{ task.commandLineFragment }}"
          >{{ task.commandLineFragment }}
        </span>
      </div></clr-dg-cell
    >
  </clr-dg-row>
  <clr-dg-footer>
    <app-job-footer
      [requestFromJob]="false"
      [totalRecordstask]="this.TaskDetailsLocalVariable.TaskCount"
      [recordPerPagerequesttask]="recordPerPage"
      [currentPagetask]="this.TaskDetailsLocalVariable.recordperpage"
      [totalPagetask]="this.TaskDetailsLocalVariable.totalPage"
    ></app-job-footer>
  </clr-dg-footer>
</clr-datagrid>
<clr-modal
  *ngIf="LogFileData != ''"
  [(clrModalOpen)]="this.LogModelOpen"
  [clrModalSize]="'lg'"
  [clrModalSkipAnimation]="'true'"
>
  <div class="modal-body" *ngFor="let item of this.LogFileData">
    <ul style="list-style-type: none">
      <li>{{ item }}</li>
    </ul>
  </div>
</clr-modal>
