.hidden {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#gridstyle {


  bottom:0%;
  display: fixed;
}
.head {
  font-size: 30px;

  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
}
.widthalign {
  text-align: left;
}
.clipboards {
  display: flex;
  justify-content: space-evenly;
}
.list {
  list-style-type: none;
   word-wrap: break-word;
  max-width: 150ch;
}
.breaks {
  word-break: break-all;
}


