<nav class="subnav" style="margin-top: 10px">
  <ul class="nav">
    <div class="btn-group">
      <button
        class="btn btn-sm btn-secondary"
        [disabled]="this.TaskRequeueDisable"
        (click)="openmodel('TaskRequeue')"
      >
        <clr-icon shape="pencil"></clr-icon>&nbsp;Task Requeue
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-sm btn-secondary" (click)="refreshData()">
        <clr-icon shape="refresh"></clr-icon>&nbsp;Task Refresh
      </button>
    </div>
    <div class="btn-group">
      <button
        class="align"
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="clearAllfilters()"
      >
        <clr-icon shape="eraser"></clr-icon>&nbsp;Clear Task Filters
      </button>
    </div>
    <div class="btn-group">
      <button
        class="align"
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="FailedTaskOnly()"
      >
        <clr-icon shape="eraser"></clr-icon>&nbsp;Failed Task Filter
      </button>
    </div>
  </ul>
</nav>

<div>
  <app-popup-modals
    [parentChildConnection]="TaskDetailsLocalVariable.openPopupModal"
    (modalClosed)="onModalClose()"
    [passingEvent]="passingEvent"
  ></app-popup-modals>
</div>
