<div class="modal" *ngIf="parentChildConnection">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button
          aria-label="Close"
          class="close"
          type="button"
          (click)="PopupModelClose()"
        >
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">
          {{ JobDetailsLocalVariable.passingEventMsg }}
        </h3>
      </div>

      <div
        class="modal-body"
        *ngIf="JobDetailsLocalVariable.passingEventMsg == 'Priority'"
      >
        <clr-input-container>
          <label>Enter Priority</label>
          <input
            clrInput
            type="text"
            id="Priority"
            name="Priority"
            [(ngModel)]="PriorityValue"
          />
        </clr-input-container>
        <br />
        <clr-signpost>
          <clr-signpost-content [clrPosition]="'bottom-right'" *clrIfOpen>
            <h3 style="margin-top: 0">Example Priority</h3>
            <p>
              <code class="clr-code">
                <li>Highest - 4000</li>
                <li>AboveNormal - 3000</li>
                <li>Normal - 2000</li>
                <li>BelowNormal - 1000</li>
                <li>Lowest - 0</li>
              </code>
            </p>
          </clr-signpost-content>
        </clr-signpost>

        <button
          style="float: right"
          class="btn btn-outline"
          type="button"
          (click)="PopupEvent()"
        >
          Update
        </button>
      </div>

      <div
        class="modal-body"
        *ngIf="
          JobDetailsLocalVariable.passingEventMsg != 'TaskRequeue' &&
          JobDetailsLocalVariable.passingEventMsg != 'Priority' &&
          JobDetailsLocalVariable.passingEventMsg != 'Pending_Reason'
        "
      >
        <div
          *ngIf="JobDetailsLocalVariable.passingEventMsg != 'Pending_Reason'"
        >
          Are you sure you want to
          {{ this.JobDetailsLocalVariable.passingEventMsg }} the
          {{ JobDetailsLocalVariable.SelectedjobsId }} ?
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="IsSuccess == false && PopupResult != undefined"
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon
                  class="alert-icon"
                  shape="exclamation-circle"
                ></clr-icon>
              </div>

              <span class="alert-text">
                {{ PopupResult }}
              </span>
            </div>
          </div>
        </div>

        <div
          class="alert alert-success"
          role="alert"
          *ngIf="IsSuccess == true && PopupResult != undefined"
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>

              <span class="alert-text">
                {{ PopupResult }}
              </span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="PopupModelClose()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-outline"
            [disabled]="this.JobDetailsLocalVariable.disableButton"
            (click)="
              PopupEvent(); this.JobDetailsLocalVariable.disableButton = true
            "
          >
            OK
          </button>
        </div>
      </div>

      <!-- Task Headers-->
      <div
        class="modal-body"
        *ngIf="JobDetailsLocalVariable.passingEventMsg == 'TaskRequeue'"
      >
        If you want to Requeue the Task
        {{ TaskDetailsLocalVariable.SelectedtasksId }} ?
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="IsSuccess == false && PopupResult != undefined"
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon
                  class="alert-icon"
                  shape="exclamation-circle"
                ></clr-icon>
              </div>

              <span class="alert-text">
                {{ PopupResult }}
              </span>
            </div>
          </div>
        </div>

        <div
          class="alert alert-success"
          role="alert"
          *ngIf="IsSuccess == true && PopupResult != undefined"
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>

              <span class="alert-text">
                {{ PopupResult }}
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="PopupModelClose()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-outline" (click)="PopupEvent()">
            OK
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
