<div class="modal" *ngIf="parentChildConnection">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button
          aria-label="Close"
          class="close"
          type="button"
          (click)="parentChildConnection = false"
        >
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{ JobDetailsLocalVariable.passingEvent }}</h3>

      </div>

      <div class="modal-body" *ngIf="passingEvent == 'Priority'">
        <clr-input-container>
          <label>Enter Priority</label>
          <input
            clrInput
            type="text"
            id="Priority"
            name="Priority"
            [(ngModel)]="JobDetailsLocalVariable.priorityValue"
          />
        </clr-input-container>
        <br />
        <clr-signpost>
          <clr-signpost-content [clrPosition]="'bottom-right'" *clrIfOpen>
            <h3 style="margin-top: 0">Example Priority</h3>
            <p>
              <code class="clr-code">
                <li>Highest - 4000</li>
                <li>AboveNormal - 3000</li>
                <li>Normal - 2000</li>
                <li>BelowNormal - 1000</li>
                <li>Lowest - 0</li>
              </code>
            </p>
          </clr-signpost-content>
        </clr-signpost>

        <button
          style="float: right"
          class="btn btn-outline"
          type="button"
          (click)="PopupEvent()"
        >
          Update
        </button>
      </div>

      <div
        class="modal-body"
        *ngIf="JobDetailsLocalVariable.passingEvent != 'TaskRequeue' && JobDetailsLocalVariable.passingEvent != 'Priority' && JobDetailsLocalVariable.passingEvent != 'Pending_Reason'"
      >
        <div *ngIf="JobDetailsLocalVariable.passingEvent != 'Pending_Reason'">
          Are you sure you want to {{ this.JobDetailsLocalVariable.passingEvent }} the
          {{ JobDetailsLocalVariable.SelectedjobId }} ?
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            JobDetailsLocalVariable.IsSuccess == false &&
            JobDetailsLocalVariable.Result != undefined
          "
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon
                  class="alert-icon"
                  shape="exclamation-circle"
                ></clr-icon>
              </div>

              <span class="alert-text">
                {{ JobDetailsLocalVariable.Result }}
              </span>
            </div>
          </div>
        </div>

        <div
          class="alert alert-success"
          role="alert"
          *ngIf="
            JobDetailsLocalVariable.IsSuccess == true &&
            JobDetailsLocalVariable.Result != undefined
          "
        >
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>

              <span class="alert-text">
                {{ JobDetailsLocalVariable.Result }}
              </span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline"
            (click)="PopupModelClose()"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-outline" (click)="PopupEvent()">
            OK
          </button>
        </div>
      </div>

      <!-- Task Headers-->
      <div
      class="modal-body"
      *ngIf="JobDetailsLocalVariable.passingEvent == 'TaskRequeue'"
    >
     
        If you want to Requeue the Task
        {{ TaskDetailsLocalVariable.SelectedtaskId }} ?
  
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline"
          (click)="parentChildConnection = false"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-outline" (click)="PopupEvent()">
          OK
        </button>
      </div>
    </div>
      <br />
    </div>
  </div>
</div>
