<div class="main-container">
  <div
    class="content-container"
    style="
      position: fixed;
      top: 60%;
      bottom: 0;
      left: 50%;
      transform: translate(0, 0);
      display: flex;
      flex-direction: column;
      width:25%;
    "
  >
    <header class="header-4">
      <div class="header-nav">
        <a class="nav-link nav-text">Custom Properties</a>
      </div>
    </header>
    <div class="content-area">
      <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Value</clr-dg-column>
        <clr-dg-row>
          <clr-dg-cell>Cockpit User Name</clr-dg-cell>
          <clr-dg-cell>Kumar</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-row>
          <clr-dg-cell>Cockpit Folder</clr-dg-cell>
          <clr-dg-cell>C://hpcpool//...</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-row>
          <clr-dg-cell>Cockpit Id</clr-dg-cell>
          <clr-dg-cell>1159</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-row>
          <clr-dg-cell>Run Number</clr-dg-cell>
          <clr-dg-cell>171</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-row>
          <clr-dg-cell>Run Topic</clr-dg-cell>
          <clr-dg-cell>GC 3 deg/rec</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-row>
          <clr-dg-cell>Type</clr-dg-cell>
          <clr-dg-cell>Simulation</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>
