<div>
  Records per page
  <select style="height: 30px" #teams (change)="onSelected(teams.value)">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </select>
  &nbsp; {{ pageSize }} / {{ pageNumberJob }} Pages of {{ total }} Records
  &nbsp;

  <button type="button" (click)="goTofirstPage()" class="btn btn-icon">
    |<
  </button>
  <button type="button" (click)="goTopriviousPage()" class="btn btn-icon">
    <
  </button>

  <button type="button" (click)="goTonextPage()" class="btn btn-icon">></button>

  <button type="button" (click)="goTolastPage()" class="btn btn-icon">
    >|
  </button>
</div>
