<div *ngIf="requestFromJob;else task">
  Records per page
  <select style="height: 30px" #teams (change)="onSelected(teams.value)">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </select>
  &nbsp; {{ this.JobDetailsLocalVariable.currentpage }} / {{ totalPage }} Pages of {{ this.totalRecords }} Records
  &nbsp;

  <button
    type="button"
    *ngIf="this.JobDetailsLocalVariable.currentpage > 1"
    (click)="goTofirstPage()"
    class="btn btn-icon"
  >
    |<
  </button>
  <button
    type="button"
    *ngIf="this.JobDetailsLocalVariable.currentpage > 1"
    (click)="goTopriviousPage()"
    class="btn btn-icon"
  >
    <
  </button>

  <button
    type="button"
    *ngIf="JobDetailsLocalVariable.totalPage != this.JobDetailsLocalVariable.currentpage; else elseblock"
    (click)="goTonextPage()"
    class="btn btn-icon"
  >
    >
  </button>
  <ng-template #elseblock
    ><button
      type="button"
      class="btn btn-icon"
      (click)="goTonextPage()"
      disabled
    >
      >
    </button></ng-template
  >

  <button type="button" (click)="goTolastPage()" class="btn btn-icon">
    >|
  </button>
</div>
<ng-template #task>
  Records per page
  <select style="height: 30px" #teams (change)="onSelected(teams.value)">
    <option>10</option>
    <option>20</option>
    <option>50</option>
    <option>100</option>
  </select>
  &nbsp; {{ this.TaskDetailsLocalVariable.currentpagetask }} / {{ totalPagetask }} Pages of {{ this.totalRecordstask }} Records
  &nbsp;

  <button
    type="button"
    *ngIf="TaskDetailsLocalVariable.currentpagetask > 1"
    (click)="goTofirstPage()"
    class="btn btn-icon"
  >
    |<
  </button>
  <button
    type="button"
    *ngIf="TaskDetailsLocalVariable.currentpagetask > 1"
    (click)="goTopriviousPage()"
    class="btn btn-icon"
  >
    <
  </button>

  <button
    type="button"
    *ngIf="totalPagetask != TaskDetailsLocalVariable.currentpagetask; else elseblock"
    (click)="goTonextPage()"
    class="btn btn-icon"
  >
    >
  </button>
  <ng-template #elseblock
    ><button
      type="button"
      class="btn btn-icon"
      (click)="goTonextPage()"
      disabled
    >
      >
    </button></ng-template
  >

  <button type="button" (click)="goTolastPage()" class="btn btn-icon">
    >|
  </button>
</ng-template>