<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>User</clr-dg-column>
  <clr-dg-column>Cockpit Id</clr-dg-column>
  <clr-dg-column>Run</clr-dg-column>

  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-column>Topic</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Progress</clr-dg-column>

  <clr-dg-column>Job Priority</clr-dg-column>
  <clr-dg-column>Number Of Tasks</clr-dg-column>

  <clr-dg-column>Start Time (yy/mm/dd HH:mm)</clr-dg-column>
  <clr-dg-column>End Time (yy/mm/dd HH:mm)</clr-dg-column>
  <clr-dg-column>Submit Time (yy/mm/dd HH:mm)</clr-dg-column>
  <clr-dg-column>Elapsed Time (HH:mm:ss)</clr-dg-column>

  <clr-dg-row *ngFor="let job of layouts" [clrDgItem]="job">
    <clr-dg-cell>{{ job.jobIdFragment }}</clr-dg-cell>
    <clr-dg-cell>{{ job.userFragment }}</clr-dg-cell>
    <!-- <clr-dg-cell>{{ job.cockpitIdFragment }}</clr-dg-cell> -->

    <clr-dg-cell style="text-align: left">
      <div style="display: flex; justify-content: space-evenly">
        <div>
          <div
            role="tooltip"
            aria-haspopup="true"
            class="tooltip tooltip-sm tooltip tooltip-right"
          >
            {{ job.cockpitIdFragment }}
            <span class="tooltip-content">{{ job.cockpitIdFragment }} </span>
          </div>
        </div>
        <div>
          <div (click)="copyClipboard(job)">
            <a
              href="javascript:void(0)"
              role="tooltip"
              aria-haspopup="true"
              class="tooltip tooltip-sm tooltip tooltip-right"
            >
              <clr-icon
                shape="copy-to-clipboard"
                class="is-solid has-badge-info"
                *ngIf="job.cockpitIdFragment != undefined"
              ></clr-icon>
              <span class="tooltip-content">{{ job.clipboardtext }}</span>
            </a>
          </div>
        </div>
      </div>
    </clr-dg-cell>

    <clr-dg-cell>{{ job.runnoFragment }}</clr-dg-cell>

    <clr-dg-cell>{{ job.typeFragment }}</clr-dg-cell>
    <clr-dg-cell>{{ job.topicFragment }}</clr-dg-cell>
    <clr-dg-cell
      [style.color]="
        job.statusFragment == 'Failed'
          ? 'red'
          : job.statusFragment == 'Running'
          ? 'blue'
          : job.statusFragment == 'Finished'
          ? 'green'
          : job.statusFragment == 'Canceled'
          ? 'orange'
          : job.statusFragment == 'Queued'
          ? 'Magenta'
          : 'black'
      "
      >{{ job.statusFragment }}</clr-dg-cell
    >
    <clr-dg-cell>{{ job.progressFragment }}</clr-dg-cell>

    <clr-dg-cell>{{ job.priorityFragment }}</clr-dg-cell>
    <clr-dg-cell>{{ job.numberOfTasksFragment }}</clr-dg-cell>

    <clr-dg-cell>{{ job.startTime }}</clr-dg-cell>
    <clr-dg-cell>{{ job.endTime }}</clr-dg-cell>
    <clr-dg-cell>{{ job.submitTime }}</clr-dg-cell>
    <clr-dg-cell>{{ job.elapsedTime }}</clr-dg-cell>
  </clr-dg-row>
  <!--
  <clr-dg-footer>{{ this.layouts.length }} users</clr-dg-footer> -->
  <ng-template
    clrIfDetail
    let-task
    (clrIfDetailChange)="onDetailOpen($event)"
  ></ng-template>
</clr-datagrid>
