<div class="main-container">
  <app-job-header
    [jobCountLength]="this.totalJobCount"
    [priorityDisable]="this.priorityDisable"
    [requeueDisable]="this.requeueDisable"
    [cancelDisable]="this.cancelDisable"
    [submitDisable]="this.submitDisable"
  ></app-job-header>

  <clr-datagrid
    [(clrDgSelected)]="JobDetailsLocalVariable.selected"
    class="datagrid-compact"
    style="right: 0px; bottom: 4%; position: fixed; left: 0px; top: 82px"
    HorizontalAlignment="auto"
    VerticalAlignment="auto"
    (clrDgRefresh)="Columnfilters($event)"
    [clrDgLoading]="JobDetailsLocalVariable.dataloading"
    (clrDgSelectedChange)="selectionChanged($event)"
  >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.idcolumnWidthValue"
      [clrDgField]="'jobIdFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'idcolumnwidth')"
      style="align-content: space-around"
      >ID</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.usercolumnWidthValue"
      [clrDgField]="'userFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'usercolumnwidth')"
    >
      <ng-container> User </ng-container>
      <clr-dg-filter [clrDgFilter]="cockpitusernameFilter" [scrollLeft]="true">
        <checkbox-list-filter
          #cockpitusernameFilter
          [filterParamName]="'userFragment'"
          [items]="JobDetailsLocalVariable.AvailableUserName"
        ></checkbox-list-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.cockpitcolumnWidthValue"
      [clrDgField]="'cockpitIdFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'cockpitcolumnwidth')"
      >Cockpit Id</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.runcolumnWidthValue"
      [clrDgField]="'runnoFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'runcolumnwidth')"
      >Run</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.typecolumnWidthValue"
      [clrDgField]="'typeFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'typecolumnwidth')"
    >
      <clr-dg-filter [clrDgFilter]="typeFilter" [scrollLeft]="true">
        <checkbox-list-filter
          #typeFilter
          [filterParamName]="'typeFragment'"
          [items]="JobDetailsLocalVariable.AvailableType"
        ></checkbox-list-filter>
      </clr-dg-filter>
      Type</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.topiccolumnWidthValue"
      [clrDgField]="'topicFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'topiccolumnwidth')"
      >Topic</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.statuscolumnWidthValue"
      [clrDgField]="'statusFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'statuscolumnwidth')"
    >
      <clr-dg-filter [clrDgFilter]="statusFilter" [scrollLeft]="true">
        <checkbox-list-filter
          #statusFilter
          [filterParamName]="'statusFragment'"
          [items]="JobDetailsLocalVariable.AvailableState"
        ></checkbox-list-filter>
      </clr-dg-filter>
      Status</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.progresscolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'progresscolumnwidth')"
      >Progress</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.prioritycolumnWidthValue"
      [clrDgField]="'priorityFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'prioritycolumnwidth')"
      >Job Priority</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.notaskcolumnWidthValue"
      [clrDgField]="'numberOfTasksFragment'"
      (clrDgColumnResize)="ColumnResized($event, 'notaskcolumnwidth')"
      >Number Of Tasks</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.runningTaskcolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'runningTaskcolumnwidth')"
      >Running Tasks</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.queuedTaskcolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'queuedTaskcolumnwidth')"
      >Queued Tasks</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.starttimecolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'starttimecolumnwidth')"
      >Start Time (yy/mm/dd HH:mm)</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.endtimecolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'endtimecolumnwidth')"
      >End Time (yy/mm/dd HH:mm)</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.submittimecolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'submittimecolumnwidth')"
      >Submit Time (yy/mm/dd HH:mm)</clr-dg-column
    >
    <clr-dg-column
      [style.width.px]="JobDetailsLocalStorage.elapsedtimecolumnWidthValue"
      (clrDgColumnResize)="ColumnResized($event, 'elapsedtimecolumnwidth')"
      >Elapsed Time (HH:mm:ss)</clr-dg-column
    >

    <clr-dg-row
      style="word-break: break-all"
      *ngFor="let job of this.JobDetailsLocalVariable.layouts"
      [clrDgItem]="job"
      class="align"
    >
      <clr-dg-action-overflow>
        <button
          class="action-item"
          (click)="openmodel('Priority', job.jobIdFragment)"
        >
          Priority
        </button>
        <button
          class="action-item"
          (click)="openmodel('Requeue', job.jobIdFragment)"
        >
          Requeue
        </button>
        <!-- pending reason -->
        <button
          class="action-item"
          (click)="openmodel('Pending_Reason', job.jobIdFragment)"
        >
          Pending Reason
        </button>
        <!-- Ends -->
        <button
          class="action-item"
          (click)="openmodel('Cancel', job.jobIdFragment)"
        >
          Cancel
        </button>
        <button
          class="action-item"
          (click)="openmodel('Submit', job.jobIdFragment)"
        >
          Submit
        </button>
      </clr-dg-action-overflow>
      <clr-dg-cell style="text-align: left">{{
        job.jobIdFragment
      }}</clr-dg-cell>
      <clr-dg-cell [style.width.px]="300" style="text-align: left"
        ><div class="hidden">
          <span title="{{ job.userFragment }}">{{ job.userFragment }} </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="300" style="text-align: left">
        <div style="display: flex; justify-content: space-evenly">
          <div>
            <div
              role="tooltip"
              aria-haspopup="true"
              class="tooltip tooltip-sm tooltip tooltip-right"
            >
              {{ job.cockpitIdFragment }}
              <span class="tooltip-content">{{ job.cockpitIdFragment }} </span>
            </div>
          </div>
          <div>
            <div (click)="copyClipboard(job)">
              <a
                href="javascript:void(0)"
                role="tooltip"
                aria-haspopup="true"
                class="tooltip tooltip-sm tooltip tooltip-right"
              >
                <clr-icon
                  shape="copy-to-clipboard"
                  class="is-solid has-badge-info"
                  *ngIf="job.cockpitIdFragment != undefined"
                ></clr-icon>
                <span class="tooltip-content">{{ job.clipboardtext }}</span>
              </a>
            </div>
          </div>
        </div>
      </clr-dg-cell>

      <clr-dg-cell [style.width.px]="800" style="text-align: left">
        <div style="display: flex; justify-content: space-evenly">
          <span title="{{ job.runnoFragment }}">
            <a
              href="{{
                'http://ldms/NXplore2/data?projectId=498&run=' +
                  job.runnoFragment
              }}"
              target="_blank"
              >{{ job.runnoFragment | slice : 0 : 5 }}</a
            >
          </span>
          <div>
            <div (click)="copyClipboard(job)">
              <a
                href="javascript:void(0)"
                role="tooltip"
                aria-haspopup="true"
                class="tooltip tooltip-sm tooltip tooltip-right"
              >
                <clr-icon
                  shape="copy-to-clipboard"
                  class="is-solid has-badge-info"
                  *ngIf="job.runFolderFragment != undefined"
                ></clr-icon>
                <span class="tooltip-content">{{ job.clipboardtext }}</span>
              </a>
            </div>
          </div>
        </div>
      </clr-dg-cell>

      <clr-dg-cell [style.width.px]="500" style="text-align: left">
        <div class="hidden">
          <span title="{{ job.typeFragment }}">{{ job.typeFragment }} </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="800" style="text-align: left">
        <div class="hidden">
          <span title="{{ job.topicFragment }}">{{ job.topicFragment }} </span>
        </div>
      </clr-dg-cell>
      <clr-dg-cell
        [style.color]="
          job.statusFragment == 'Failed'
            ? 'red'
            : job.statusFragment == 'Running'
            ? 'blue'
            : job.statusFragment == 'Finished'
            ? 'green'
            : job.statusFragment == 'Canceled'
            ? 'orange'
            : job.statusFragment == 'Queued'
            ? 'Magenta'
            : 'black'
        "
        >{{ job.statusFragment }}</clr-dg-cell
      >

      <clr-dg-cell
        [style.width.px]="300"
        style="text-align: left; min-width: 113px"
      >
        <h6
          *ngIf="job.failedTasksCount > 0"
          class="badge badge-danger"
          style="padding: 3px"
        >
          {{ job.failedTasksCount }}
        </h6>
        <a
          href="javascript:void(0)"
          role="tooltip"
          aria-haspopup="true"
          class="tooltip tooltip-sm tooltip tooltip-right"
        >
          <clr-progress-bar
            [clrValue]="job.progressFragment"
            [clrLabeled]="true"
            [style.width.px]="100"
          >
          </clr-progress-bar>
          <span class="tooltip-content">
            Running:{{ job.runningTasksCount }}
            <br />
            <span class="tooltip-content" style="width: fit-content">
              Finished:{{ job.finishedTasksCount }}&nbsp;({{
                (job.finishedTasksCount / job.numberOfTasksFragment) * 100
                  | number : "1.0-0"
              }}%)
            </span>
            <br />

            <span class="tooltip-content" style="width: fit-content">
              Failed:{{ job.failedTasksCount }}&nbsp;({{
                (job.failedTasksCount / job.numberOfTasksFragment) * 100
                  | number : "1.0-0"
              }}%)
            </span>

            <br />
            Total:{{ job.numberOfTasksFragment }}
          </span>
        </a>
      </clr-dg-cell>

      <clr-dg-cell
        style="text-align: left"
        [ngStyle]="{
          color: job.priorityFragment == 'Highest-100' ? 'red' : 'green'
        }"
        [style.width.px]="180"
        ><div class="hidden">
          <span title="{{ job.priorityFragment }}"
            >{{ job.priorityFragment }}
          </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="200" style="text-align: left">{{
        job.numberOfTasksFragment
      }}</clr-dg-cell>
      <clr-dg-cell [style.width.px]="200" style="text-align: left">{{
        job.runningTasksCount
      }}</clr-dg-cell>
      <clr-dg-cell [style.width.px]="200" style="text-align: left">{{
        job.queuedTasksCount
      }}</clr-dg-cell>
      <clr-dg-cell [style.width.px]="500" style="text-align: left">
        <div class="hidden">
          <span title="{{ job.startTime | utcToLocalTime : 'short' }}"
            >{{ job.startTime | utcToLocalTime : "short" }}
          </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="500" style="text-align: left">
        <div class="hidden">
          <span title="{{ job.endTime | utcToLocalTime : 'short' }}">
            {{ job.endTime | utcToLocalTime : "short" }}
          </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="500" style="text-align: left"
        ><div class="hidden">
          <span title="{{ job.submitTime | utcToLocalTime : 'short' }}">
            {{ job.submitTime | utcToLocalTime : "short" }}
          </span>
        </div></clr-dg-cell
      >
      <clr-dg-cell [style.width.px]="500" style="text-align: left">{{
        job.elapsedTime
      }}</clr-dg-cell>
    </clr-dg-row>
    <ng-template
      clrIfDetail
      let-task
      (clrIfDetailChange)="onDetailOpen($event)"
    >
      <app-task-details
        [taskLayout]="this.JobDetailsLocalVariable.taskLayout"
        [JobIDFragement]="this.JobDetailsLocalVariable.detailTaskID"
      >
      </app-task-details>
    </ng-template>
    <clr-dg-footer>
      <app-job-footer
        [requestFromJob]="true"
        [totalRecords]="jobCount"
        [recordPerPagerequest]="recordPerPage"
        [currentPage]="pageSize"
        [totalPage]="totalPage"
      ></app-job-footer>
    </clr-dg-footer>
  </clr-datagrid>
</div>
