:host {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    color: #000;
    pointer-events: all;
    background-color: transparent;
    cursor: pointer;
  }
  
  ::ng-deep .toast-container {
    pointer-events: none;
    position: relative;
    z-index: 999999;
  }
  ::ng-deep .toast-top-right {
    top: 50%;
    left: 50%;
  }
  .toast-close-button {
    color: #999;
    opacity: 1;
  }
  
  .toast-close-button:hover {
    color: #02ceff;
  }
  
  ::ng-deep .toast-error,
  ::ng-deep .toast-info,
  ::ng-deep .toast-warning,
  ::ng-deep .toast-success {
    background-image: none;
  }
  
  .toaster {
    display: flex;
    color: white;
    background-color: #333333;
    width: 335px;
    min-height: 50px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
    margin: 5px 30px 5px 0;
  }
  
  .toaster .toast-icon {
    border-radius: 4px 0 0 4px;
  }
  .toaster .toast-icon.custom-toast-success {
    background-color: #67be4e;
  }
  .toaster .toast-icon.custom-toast-success #warning-icon,
  .toaster .toast-icon.custom-toast-success #info-icon,
  .toaster .toast-icon.custom-toast-success #error-icon {
    display: none;
  }
  .toaster .toast-icon.custom-toast-warning {
    background-color: #ffc825;
  }
  .toaster .toast-icon.custom-toast-warning #success-icon,
  .toaster .toast-icon.custom-toast-warning #info-icon,
  .toaster .toast-icon.custom-toast-warning #error-icon {
    display: none;
  }
  .toaster .toast-icon.custom-toast-error {
    background-color: #e9493f;
  }
  .toaster .toast-icon.custom-toast-error #success-icon,
  .toaster .toast-icon.custom-toast-error #info-icon,
  .toaster .toast-icon.custom-toast-error #warning-icon {
    display: none;
  }
  .toaster .toast-icon.custom-toast-info {
    background-color: #45a7e7;
  }
  .toaster .toast-icon.custom-toast-info #success-icon,
  .toaster .toast-icon.custom-toast-info #error-icon,
  .toaster .toast-icon.custom-toast-info #warning-icon {
    display: none;
  }
  
  .toast-icon {
    width: 50px;
    position: relative;
  }
  .toast-icon i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-40%, -50%);
  }
  
  .toast-title {
    font-size: 16px;
  }
  
  .toast-message {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  
  .toast-details {
    margin: 0 10px 0 20px;
    display: flex;
    align-items: center;
    width: 235px;
  }
  
  .close-icon {
    position: relative;
  }
  .close-icon .toast-close-button {
    position: absolute;
    top: 15%;
    color: white;
    font-size: 25px;
    font-weight: 100;
  }
  