<div class="head">
  <!-- Nordex logo header -->
  <header class="header header-12">
    <div class="header-nav">
      <img
        src="http://kghapp83v/QuickerView/assets/nordex_logo.png"
        alt="No image"
        height="50"
      />
      <a
        *ngFor="
          let NavigationUrl of this.JobDetailsLocalVariable
            .JobManageerNavigation
        "
        class="nav-link"
        [href]="NavigationUrl.url"
      >
        <span class="nav-text">{{ NavigationUrl.name }}</span>
      </a>
      <span
        *ngIf="!spinnerInlineloader"
        style="
          font-size: 17px;
          position: absolute;
          color: #e7e2e1;
          top: 15px;
          right: 20px;
        "
      >
        <clr-icon shape="user"></clr-icon>
        {{ displayName }}
      </span>
      <span *ngIf="spinnerInlineloader">
        <span class="spinner spinner-inline"> </span>
      </span>
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item" style="margin: 20px">
        <a class="nav-link" (click)="nodeListPage()">Nodes</a>
      </li>
      <li>
        <div>
          <select clrSelect name="options" (change)="onNodeGroupChange($event)">
            <option
              *ngFor="let Node of this.JobDetailsLocalVariable.Nodelist"
              [value]="Node"
            >
              {{ Node }}
            </option>
          </select>
          <p style="display: hidden"></p>
        </div>
      </li>
      <div class="btn-group">
        <button
          *ngIf="jobCountLength >= 1"
          class="btn btn-sm btn-secondary"
          (click)="openmodel('Priority')"
          [disabled]="this.priorityDisable"
        >
          <clr-icon shape="pencil"></clr-icon>&nbsp;Priority
        </button>
      </div>
      <div class="btn-group">
        <button
          *ngIf="jobCountLength >= 1"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="openmodel('Requeue')"
          [disabled]="this.requeueDisable"
        >
          <clr-icon shape="history"></clr-icon>&nbsp;Requeue
        </button>
      </div>
      <div class="btn-group">
        <button
          *ngIf="jobCountLength >= 1"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="openmodel('Pending_Reason')"
        >
          <clr-icon shape="book"></clr-icon>&nbsp;Pending Reason
        </button>
      </div>
      <div class="btn-group">
        <button
          *ngIf="jobCountLength >= 1"
          type="button"
          class="btn btn-sm btn btn-warning-outline"
          (click)="openmodel('Cancel')"
          [disabled]="this.cancelDisable"
        >
          <clr-icon shape="times"></clr-icon>&nbsp;Cancel
        </button>
      </div>
      <div class="btn-group">
        <button
          *ngIf="jobCountLength >= 1"
          type="button"
          class="btn btn-sm btn btn-success-outline"
          (click)="openmodel('Submit')"
          [disabled]="this.submitDisable"
        >
          <clr-icon shape="thumbs-up"></clr-icon>&nbsp;Submit
        </button>
      </div>
      <div class="btn-group">
        <button
          style="right: 0"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="refreshData()"
        >
          <clr-icon shape="refresh"></clr-icon>&nbsp;Refresh
        </button>
      </div>

      <div class="btn-group">
        <button
          style="right: 0"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="clearAllfilters()"
        >
          <clr-icon shape="eraser"></clr-icon>&nbsp;Clear All
        </button>
      </div>
    </ul>
  </nav>
</div>
<div>
  <app-popup-modals
    [parentChildConnection]="JobDetailsLocalVariable.openModal"
    (modalClosed)="onModalClose()"
    [passingEvent]="passingEvent"
  ></app-popup-modals>
</div>
