<div class="head">
  <!-- Nordex logo header -->
  <header class="header header-12">
    <div class="header-nav">
      <img
        src="http://kghapp83v/QuickerView/assets/nordex_logo.png"
        alt="No image"
        height="50"
      />
      <a
        *ngFor="let NavigationUrl of JobManageerNavigation"
        class="nav-link"
        [href]="NavigationUrl.url"
      >
        <span class="nav-text">{{ NavigationUrl.name }}</span>
      </a>
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item" style="margin: 20px">
        <a class="nav-link" (click)="nodeListPage()">Nodes</a>
      </li>
      <li>
        <div>
          <select clrSelect name="options" (change)="onNodeGroupChange($event)">
            <option *ngFor="let Node of Nodelist" [value]="Node">
              {{ Node }}
            </option>
          </select>
          <p style="display: hidden"></p>
        </div>
      </li>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="openModal = true"
        >
          <clr-icon shape="pencil"></clr-icon>&nbsp;Priority
        </button>
      </div>
    </ul>
  </nav>
</div>
<div>
  <app-popup-modals
    [parentChildConnection]="openModal"
    (modalClosed)="onModalClose()"
  ></app-popup-modals>
</div>
