<!-- <span *ngIf="loading">
    <span class="spinner spinner-inline">
      Loading user details...
    </span>
    <span>
      Loading user details...
    </span>
  </span>
  
  <span *ngIf="!loading && !user">
    <a href="mailto:{{email}}" *ngIf="email">
      <clr-icon shape="envelope"></clr-icon>
    </a>
    <clr-icon shape="exclamation-circle" class="is-error"></clr-icon>
    {{email}}
  </span>
  
  <span *ngIf="!loading && user">
    
    <a href="tel:{{ displayName }}">
      <clr-icon shape="phone-handset"></clr-icon>
    </a>
    {{displayName}}
  </span>
   -->